[run]
omit =
     .venv3/*
     docs/*
#     tests/*
branch = True

[report]
# Never fail, even if we have no code coverage... for now
fail_under = 0
show_missing = True

[html]
directory = test-results/coverage
