<h2>Uploads</h2>

<ul class="heroes"> <!-- TODO fix CSS to match our class names -->
    <li *ngFor="let upload of uploads" 
        [class.selected]="upload === selectedUpload"
        (click)="onSelect(upload)"
    >
        <span class="badge">{{upload.id}}</span>
        <span>size: {{upload.size}}</span>
    </li>
</ul>

<div *ngIf="selectedUpload">
    <h2>Details: {{ selectedUpload.id }}</h2>
    <div>
        <div>size: {{selectedUpload.size}}</div>
        <div>bucket: {{selectedUpload.bucket}}</div>
        <div>etag: {{selectedUpload.etag}}</div>
        <div>comment: {{selectedUpload.comment}}</div>
    </div>
    <div>
        <label>update comment: 
            <input [(ngModel)]="selectedUpload.comment" placeholder="update comment">
        </label>
    </div>

</div>
